@import 'project';
:root {
  --main-orange: #bb4a1b;
  --main-bru: #7f3211;
  --main-bla: #333333;
  --main-black: #321408;
  --main-white: #fffefe;
  --main-bruster: #e3d6c3;
  --main-bl: #9e9e9e;
  --main-fon: #eae1d2;
}
.reset();
body {
  font-weight: @n;
  font-family: @ns;
  font-stretch: @n;
  font-style: @n;
  line-height: 1.71;
  font-size: 14px;
  content: '';
}


.wrapper {
  .wrapper();
  .row-flex();
}
body:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, rgba(0,0,0,0), rgba(255,255,255,.8));
}
.navigation{
  background: var(--main-orange);
  .navigation__home{
    display: flex;
    flex-direction: row;
    .navigation__home__company{
      p{
        font-size: 36px;
        font-weight: bold;
        color: var(--main-bru)
      }
    }
  }

}
nav {
  text-align: center;
  padding: 40px 0 0;
}
nav ul {
  list-style: @no;
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: @no;
  display: block;
  color: var(--main-white);
}
.topmenu > li {
  display: inline-block;
  position: relative;
}
.topmenu > li > a {
  text-transform: @up;
  text-decoration: @no;
  position: relative;
  padding: 10px 15px;
  font-family: @ms;
  line-height: 1;
  letter-spacing: 3px;
  color:var(--main-white);
}

.topmenu li:hover a:before {
  transform: translate(-50%, 0);
  opacity: 1;
}
.submenu {
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 100%;
  width: 150px;
  padding: 15px 0 15px;
  margin-top: 5px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0,0,0,.2);
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 20px);
  transition: .3s;
}
.topmenu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}
.submenu a {
  text-transform: @up;
  text-decoration: @no;
  font-family: @ms;
  font-size: 14px;
  font-weight: @n;
  font-stretch: @n;
  font-style: @n;
  line-height: 2.29;
  padding: 5px 10px;
  transition: .2s linear;
}
.submenu a:hover {
  background: var(--main-bl);
}

.slider__contrary{
  .slider__contrary__one{
    background: no-repeat center url("../img/layer1.png");
    .contrary__border{
      margin: 62px 276px 63px 21px;
      padding: 81px 24px 79px 25px;
      opacity: 0.5;
      border: solid 1px #a69aa1;
      background-color: #a69aa1;
      .one__food{
        .h2{
          font-family: @ms;
          font-size: 36px;
          font-weight: bold;
          font-stretch: @n;
          font-style: @n;
          line-height: @n;
          letter-spacing: @n;
          color: var(--main-white);
        }
      }
      .one__health{
        p{
          text-transform: @up;
          font-family:@ms;
          font-size: 24px;
          font-weight: @n;
          font-stretch: @n;
          font-style: @n;
          line-height: 1.5;
          letter-spacing: @n;
          color: var(--main-white);
        }
      }
    }

  }
  .slider__contrary__two{
    background:no-repeat center url("../img/layer2.png");
    .contrary__border{
      margin: 62px 276px 63px 21px;
      padding: 81px 24px 79px 25px;
      opacity: 0.5;
      border: solid 1px #a69aa1;
      background-color: #a69aa1;
      .one__food{
        .h2{
          font-family: @ms;
          font-size: 36px;
          font-weight: bold;
          font-stretch: @n;
          font-style: @n;
          line-height: @n;
          letter-spacing: @n;
          color: var(--main-white);
        }
      }
      .one__health{
        p{
          text-transform: @up;
          font-family:@ms;
          font-size: 24px;
          font-weight: @n;
          font-stretch: @n;
          font-style: @n;
          line-height: 1.5;
          letter-spacing: @n;
          color: var(--main-white);
        }
      }
    }

  }
  .slider__contrary__three{
    background: no-repeat center url("../img/layer3.png");
    .contrary__border{
      margin: 62px 276px 63px 21px;
      padding: 81px 24px 79px 25px;
      opacity: 0.5;
      border: solid 1px #a69aa1;
      background-color: #a69aa1;
      .one__food{
        .h2{
          font-family: @ms;
          font-size: 36px;
          font-weight: bold;
          font-stretch: @n;
          font-style: @n;
          line-height: @n;
          letter-spacing: @n;
          color: var(--main-white);
        }
      }
      .one__health{
        p{
          text-transform: @up;
          font-family:@ms;
          font-size: 24px;
          font-weight: @n;
          font-stretch: @n;
          font-style: @n;
          line-height: 1.5;
          letter-spacing: @n;
          color: var(--main-white);
        }
      }
    }

  }
}
.content{
  .responsive__design{
    background-color: #eae1d2;
    .responsive__item{
      display: flex;
      .item__items{
        margin: 41px 16px 40px;
        padding: 19px 10px 56px;
        background-color: #e3d6c3;
        &:hover{
          border: solid 1px #b84e1d;
          cursor:pointer;
        }
        .one_img{
          display: flex;
          justify-content: center;
          img{
            border-radius: 50%;
            overflow: hidden;
            background-color: #e3d6c3
          }

        }
        .one__text{
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-top: 33px;
          .h4{
            font-family:@ms;
            text-transform: @up;
            font-size: 16px;
            font-weight: @n;
            font-stretch: @n;
            font-style: @n;
            line-height: 1.78;
            letter-spacing: 0.45px;
            text-align: center;
            color: #555555;
          }
          p{
            line-height: 1.86;
            font-size: 13px;
            letter-spacing: @n;
            text-align: center;
            color: #888888;
          }
        }
      }
    }
  }
}
.portfolio__slider{
  background-color: var(--main-orange);
  display: flex;
  flex-direction: column;
  h2{
    padding-top: 39px;
    padding-bottom: 19px;
    font-family:@ms;
    font-size: 18px;
    font-weight: @n;
    font-stretch: @n;
    font-style: @n;
    line-height: 1.78;
    letter-spacing: 0.45px;
    color:var(--main-white);
  }
  .portfolio__home{
    display: flex;
    flex-direction: row;
    .portfolio__established{
      padding-bottom: 73px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-right: 20px;
      .established__long{
        background-color: var(--main-bla);
        color:var(--main-white);
        display: flex;
        justify-content: center;
      }
    }
  }
}
.white__variations{
  background-color: var(--main-fon);
  h2{
    padding-top: 39px;
    text-transform: @up;
    font-family: @ms;
    font-size: 1.286em;
    font-weight: @n;
    font-stretch: @n;
    font-style: @n;
    line-height: 1.78;
    letter-spacing: 0.45px;
    color: #666666;
  }
  .white__variations__why{
    box-shadow: 2.5px 4.3px 10px 0 rgba(0, 0, 0, 0.02);
    border: solid 1px #eae1d2;
    background-color: #f0eae0;
    margin-top: 19px;
    margin-bottom: 38px;
    .white__variations__border{
      padding: 20px 22px 22px 10px;
      display: flex;
      flex-direction: row;
      .why__image{
        .size(6);
      }
      .why__content{
        .size(8);
        h4{
          text-transform: @up;
          font-family: @ms;
          font-weight: @n;
          font-stretch: @n;
          font-style: @n;
          line-height: 2.29;
          letter-spacing: 0.35px;
          color: #666666;
        }
        p{
          line-height: 1.71;
          letter-spacing: 0.35px;
          text-align: left;
          color: #888888;
        }
      }
    }
  }
}